
// Results page

#page-results {

	.car-result--bottom {

		position: relative;

	}

	.car-result--caption {

		width: 100%;

	}

	.car-result--image {

		width: auto;
		margin-right: 340px;

		.img-content.result-car {

			width: 100%;
			max-width: 760px;

		}

	}

	.car-result--finance {

		width: 320px;
		position: absolute;
		top: 20px;
		right: 0px;

		p {

			font-size: @fontSizeSmall;
			margin: 3px 0 @margin / 2;
			line-height: 16px;

		}

		.terms {

			font-size: @fontSizeSmaller;
			margin: 10px 0px 50px 0px;
			line-height: 14px;
			color: @grayDark;
			letter-spacing: 0.1px;

		}

		.terms-toggle {

			cursor: pointer;
			padding: 20px 0px 0px 0px;

			.show-terms {

				&:after {

					font-family: "icons";
					content: "\f106";
					display: inline-block;
					padding-left: 5px;

				}

			}

			.hide-terms {

				&:after {

					font-family: "icons";
					content: "\f111";
					display: inline-block;
					padding-left: 5px;

				}

			}
		}



		#finance-template {

			opacity: 0;
			transition: opacity .5s ease-in-out;
			-moz-transition: opacity .5s ease-in-out;
			-webkit-transition: opacity .5s ease-in-out;

			&.fadeIn { opacity: 1; }

		}

		#payment-plan {

			color: @grayDark;
			display: block;
			margin: 0 auto;
			overflow: hidden;

			width: 100%;

			table-layout:fixed;

			tbody {

				display: block;
				width: 100%;

				&:last-of-type { margin-right: 0; }

				tr {

					border-bottom: solid 1px @grayDark;
					display: block;
					overflow: hidden;
					width: 100%;

					td {

						display: block;
						float: left;
						font-family: @fontMini;
						font-size: 12px;
						line-height: 1;
						padding: 8px 1px;

						width: ~'calc( 50% - 2px )';
						&:nth-child( even ) { .tr; }

					}

				}

			}

		}
	}

}


// MOBILE
@media ( max-width: @breakpointMobile ) {

	#page-results {

		.car-result--image {

			float: none;
			margin-right: 0px;

		}

		.car-result--finance {

			width: 100%;
			position: static;

		}

	}
}
