<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Combobulator.Data.Properties.Settings.CombobulatorConnectionString"
            connectionString="Data Source=JUSTFORKIX;Initial Catalog=MINI_Combobulator;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Combobulator.Data.Properties.Settings.MINI_FS_QAConnectionString"
            connectionString="Data Source=DEL-LW7-72;Initial Catalog=MINI_FS_QA;Persist Security Info=True;User ID=sa;Password=Jump2High;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
