<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CombobulatorConnectionString" connectionString="Data Source=SHARED-STAGING-;Initial Catalog=MINI_FS;persist security info=True; timeout=60;user id=mini;password=password;" providerName="System.Data.SqlClient" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="FiscURL" value="http://combobdev.emaster.me.uk/?script=EM/External" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailFallbackTo" value="minicombobulator@minifin.co.uk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/error" xdt:Transform="Replace">
      <error statusCode="404" redirect="~/error/notfound" />
      <error statusCode="500" redirect="~/error/" />
    </customErrors>
  </system.web>
</configuration>