<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
    	<add name="CombobulatorConnectionString" connectionString="Data Source=.;Initial Catalog=MINI_FS;persist security info=True; timeout=60;user id=mini;password=p*^S%XxM$8ZG" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>