@import url(http://fonts.googleapis.com/css?family=Roboto);

html body {

  background: white;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 20px;

}

h1, h2 { margin: 0; }
h3 { margin: 20px 0; }

.wrapper {

	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;

}

#output, form {

	float: left;
	max-width: 480px;

}

.output-content { padding: 20px; }

pre {

	background: floralwhite;
	padding: 20px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;

}

.alternatives {

	font-size: 13px;
	list-style-type: none;
	margin: 0;
	padding: 0;

}

fieldset {

  border: solid 1px gainsboro;
  display: block;
  margin: 20px 0;
  padding: 20px;

}

legend { padding: 0 20px; }

input { margin-right: 10px; }

button {

  font-size: 16px;
  padding: 10px;

}