@dashGutter: 2px;

#slick-test {

	height: 400px;
	width: 800px;
	margin: 40px auto;
	background: red;
	position: relative;

	.wrapper {

		height: 400px;
		width: 100%;

		.item {

			background: yellow;
			float: left;

			height: 400px;
			width: 100%;

		}

	}

}

// Tools

#bgcontrol {

	.box-sizing( border-box );

	background: @grayDarker;
	color: @gray;
	margin: 0 auto @margin;
	max-width: 780px;
	padding: @margin;

	input { margin: 0 @margin / 2; }

	button {

		display: table;
		margin: @margin auto 0;

	}

}

// Background switcher

.control-bg {

	.transition( background-color 0.2s linear );

	background-color: @red;
	border-color: @red;

}

.control-title {

	.tc;

	background: lighten( @dialGray, 5% );
	color: @grayDarker;
	display: block;
	font-size: 14px;
	line-height: 30px;
	margin: @dashGutter @dashGutter 0;
	text-transform: uppercase;

}

#dash {

	overflow: hidden;
	margin: auto;
	max-width: 780px;
	position: relative;

	height: 785px;

	#dash-left, #dash-middle, #dash-right {

		float: left;

		height: 100%;

		.top, .middle, .bottom, .inner-left, .inner-right {

			background: @dialGray;
			box-shadow: 0 0 0 @dashGutter @black inset;
			color: @grayDarker;
			position: relative;

			.control-wrapper {

				overflow: hidden;
				position: relative;

				height: ~'calc( 100% - 30px )';

				.control-inner { .align-middle; }

			}

		}

	}

	#dash-left {

		width: 50%;

		.top, .middle, .bottom { height: 100% / 3; }

	}

	#dash-middle, #dash-right {

		width: 25%;

		.top { height: ( 100% / 3 ) * 2; }
		
		.bottom { height: 100% / 3; }

	}

	.inner-left, .inner-right {

		float: left;

		height: 100%;
		width: 50%;

	}

	.backline {

		.background-image( linear-gradient( top, transparent 49%, transparent 49%, @black 49%, @black 51%, transparent 51% ) ) !important;

	}

}

// Responsive

@media ( max-width: 720px ) {

	#tools { display: none; }

	#dash {

		height: auto;

		#dash-left, #dash-middle, #dash-right {

			&, .inner-left, .inner-right {

				clear: both;
				float: none;

				width: auto;

			}

			.top, .middle, .bottom, .inner-left, .inner-right {

				height: auto;

				.control-wrapper {

					height: 215px;
					height: 600px;

					// .control-inner {

					// 	.transform; // remove transform and make position static

					// 	position: static;

					// }

				}

			}

		}

	}

}