@import 'dials/slots';
@import 'dials/mpg';
@import 'dials/lifestyle';
@import 'dials/luggage';
@import 'dials/options';
@import 'dials/slider';
@import 'dials/button';

// Bums on seats

#c-bums {

	.controls {

		background: #161616;
		display: table;
		margin: 15px auto 0;
		padding: 0 10px;
		position: relative;

		width: 315px;

		.control {

			float: left;
			margin: 0 10px 0 0;

			&:last-of-type { margin: 0; }

		}

		#rnd {

			.box-sizing( content-box );
			.hide-text;

			background-color: @grayDarker;
			background-image: url( ../sprites/slots-icon.png );
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: 100%;
			border: solid 5px @trueBlack;
			border-radius: 100%;
			box-shadow: 0 1px 1px fadeout( @white, 80% ) inset, 0 -1px 2px @black inset;
			display: block;
			margin-left: -25px;
			padding: 0;
			position: absolute;
			z-index: 99999;

			top: -25px;
			left: 50%;

			height: 45px;
			width: 45px;

		}

	}	

}

// Lifestyle

#c-lifestyle {

	background: @trueBlack;
	box-shadow: 0 -2px 0 0 @black inset, -2px -2px 0 0 @black inset, 2px -2px 0 0 @black inset;

	&:before {

		.pseudo;
		.box-sizing( border-box );

		background: @dialGray;
		position: absolute;
		z-index: 0;

		height: 173px;

		left: 2px;
		right: 2px;


	}

	.control-lifestyle { z-index: 1; }

	// Mobile

	@media ( max-width: 720px ) {

		&:before { display: none; }

		.control.lifestyle {

			height: @lifestyleH * 1.5;
			width: @lifestyleW * 1.5;

		}

	}

}

// Options

#c-options {

	margin-top: 10px;

	// Mobile

	@media ( max-width: 720px ) {

		.option {

			float: left;

			height: @optionH * 0.7;
			width: @optionW * 0.7;

			&:nth-of-type( 3 ) { clear: left; }

		}

	}

}

// Speed

#c-speed .control-inner .control.slot {

	&:before,
	&:after {

		.pseudo;

		position: absolute;

		top: 0;

		height: 100%;

		.width_pct( 10px, 130px );

	}


	&:before {

		background: url( ../sprites/speed-edge.png ) 50% 50% no-repeat;
	
		left: -10px;

	}

	&:after {

		.rotate( 180 );

		background: url( ../sprites/speed-edge.png ) 50% 50% no-repeat;
	
		right: -10px;

	}

}


@media ( max-width: 720px ) { #c-bums { display: none; } }