.icon() {

	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	display: inline-block;
	line-height: 1em;
	speak: none;	
	text-align: center;
	text-decoration: inherit;	
	text-indent: 0;
	text-transform: none;	

	height: 1em;
	width: 1em;

}

@import 'icon-codes';