@import 'variables';
@import 'colors';
@import 'mixins';

// IE specific fixes here

html.ie > body {

	// Place your fixes here

	.roller .list .item.bumper {

		// height: 5px!important;

	}

}


// IE 8 and below

html.ie.oldie > body {

	// Place your fixes here

	// The align-middle mixin hacks...
	#disabled,
	.control.mpg .value,
	.control-inner{

		margin: 20px auto 0!important;
		position: static!important;

	}

	#logo a { background-image: url( ../img/mini-logo-small.png ); }

	.layout-wrapper .layout #dash {

		#mpg_value {

			background: @black;
			padding-top: 100%;

		}

		#dash-left,
		#dash-middle,
		#dash-right {

			.control-wrapper {

				height: 100%;
				width: 100%;

				.control-inner {

					.control.start .shape {

						background: url( ../img/button-shape.png ) 50% 50% no-repeat;
						cursor: pointer;
						position: relative;
						z-index: 999999;
						
						height: 100%;
						width: 100%;

					}

				}

			}

		}

	}

	#page-home .layout { 

		&,
		#dash { overflow: visible; }

	}

	#c-speed { background: 0 !important; }

	#page-home { padding-bottom: 300px; }

	#dash.ie-fallbacks #dash-left .top,
	#dash.ie-fallbacks #dash-middle .bottom {

		z-index: 999;

		.control-wrapper { overflow: visible !important; }

		#rollers { overflow: visible; height: 100%; }

		.roller {

			overflow: visible;

			&:after { display: none; }

			.list-static {

				background: lime;
				cursor: pointer;
				overflow: hidden;
				position: relative;

				top: 25%;
				height: 50%;

				.active {

					position: absolute; top: 0;left: 0;
					z-index: 999;

				}

				&.open {

					overflow: visible;

					.item {

						&.active { position: static; }

						&:hover { background: lighten( @slotGray, 5% ); }

					}

				}

			}

		}

	}

}