@import 'base/variables';
@import 'base/colors';
@import 'base/mixins';


html.ie8 > body {

	.control-inner {

		margin: 20px auto 0!important;
		position: static!important;

	}

	.ministry { background: url( ../img/ministry-of-finance-ie8.png ); }

}


// IE 9 and below
html.ie.oldie > body {

	.layout-dash { overflow: visible; }

	#dash {

		overflow: visible;
		
		.backline { background-image: none!important; }

	}

	#results {

		.results-footer {

			height: 258px;

		}
	}

	.form-control.append {

		input {

			height: 26px!important;
			width: 100%!important;
			padding: 0px 10px;

			background: @formGray;
			border-color: @formGray;
			border-radius: 0 3px 3px 0;
			box-shadow: 1px 1px 2px transparent inset;
			color: @black;

			& + .field-icon {

				background: @formGrayDark;
				border-radius: 3px 0 0 3px;
				position: absolute;

				top: 0;
				left: 0;

				height: 26px;
				width: ( @fontSizeSmall ) + ( @margin ) + 2px;

				&:before {

					color: @formGray;
					font-size: 16px;
					margin-top: -0.5em;
					margin-left: -0.5em;
					position: absolute;

					top: 50%;
					left: 50%;

				}

			}

			&.error {

				border-color: @formRed;

				+ .field-icon {

					background: @formRed;
					&:before { color: @white; }

				}

			}

		}
	}



	#logo a { background-image: url( ../img/mini-logo-small.png ); }

	.layout-wrapper .layout #dash {

		#mpg_value {

			background: @black;

		}

		#dash-left,
		#dash-middle,
		#dash-right {

			.control-wrapper {

				height: 100%;
				width: 100%;

				.control-inner {

					.control.start .shape {

						background: url( ../img/button-shape.png ) 50% 50% no-repeat;
						cursor: pointer;
						position: relative;
						z-index: 999999;

						height: 100%;
						width: 100%;

					}

				}

			}

		}

	}

	#page-home .layout {

		&,

		#dash {

			overflow: visible;

			.backline {

				background-image: none!important;

			}

		}

	}

	#c-speed { background: 0 !important; }

	#page-home { padding-bottom: 300px; }

	#dash.ie-fallbacks #dash-left .top,
	#dash.ie-fallbacks #dash-middle .bottom {

		z-index: 999;

		.control-wrapper { overflow: visible !important; }

		#rollers { overflow: visible; height: 100%; }

		.roller {

			overflow: visible;

			&:after { display: none; }

			.list-static {

				cursor: pointer;
				overflow: hidden;
				position: relative;

				top: 25%;
				height: 50%;

				.active {

					position: absolute; top: 0;left: 0;
					z-index: 999;

				}

				&.open {

					overflow: visible;

					.item {

						&.active { position: static; }

						&:hover { background: lighten( @slotGray, 5% ); }

					}

				}

			}

		}

	}

	.select > select {
		width: 120% !important;
		padding-right: 10px;
	}

}