.layout-wrapper {

	font-family: @fontR !important;

	display: table;
	margin: auto;

	.layout-header {

		.clearfix;

		#logo {

			display: block;
			float: left;

			a {

				.hide-text;

				background: url( ../img/mini-logo.png ) 50% 50% no-repeat;
				background-size: 100%;

				height: 55px;
				width: 105px;

			}

		}

		.social {

			.list-inline;

			display: table;
			float: right;
			margin: 0 auto;

			li {

				.hide-text;

				background: orange;				
				display: block;
				margin-left: 4px;

				a {

					.hide-text;

					background: @formGrayDark;
					color: @white;
					display: block;
					padding: @margin;
					position: relative;
					text-decoration: none;

					&:hover { background: @formGray; }

					&:after {

						.icon;

						font-size: 16px;
						margin-top: -8px;
						margin-left: -8px;
						position: absolute;

						top: 50%;
						left: 50%;

					}

				}

				&.facebook a:after { .icon-facebook-letter; }
				&.twitter a:after { .icon-twitter-bird; }

			}

		}

	}

	.layout-footer {

		font-size: @fontSizeSmaller;
		margin: @margin 0;

		p {

			line-height: 1;

			a {

				color: @grayDark;

				&:before {

					.icon;
					.icon-raquo;

					font-size: @fontSizeSmaller * 0.8;
					margin-right: 0.5em;

				}

			}

		}

	}

	.layout {

		color: white;
		max-width: 1180px;
		overflow: hidden;
		position: relative;

		height: calc( 785px - 4px );

		.column {

			float: left;

			&.left { width: 780px; }

			&.right {

				.box-sizing( border-box );

				border: solid 12px @grayFrame;
				margin: 2px 0;
				padding: @margin * 2;

				height: 100%;
				width: 400px;

			}

			.panel {

				display: none;

			}

		}

	}

}

// Specific

#welcome {

	.tc;

	.header {

		border-bottom: solid 1px @formGrayDark;
		margin: 0 0 @margin 0;
		text-transform: uppercase;

		.ministry {

			.hide-text;

			background: url( ../img/ministry-of-finance.png ) 50% 50% no-repeat;
			background-size: 100%;
			display: table;
			margin: 0 auto;

			height: 100px;
			width: 100px;

		}

		.strike-through {

			margin: @margin 0;
			position: relative;

			&:before, &:after {

				.pseudo;

				background: @formGrayDark;
				margin-top: -( 1px / 2 );
				position: absolute;

				top: 50%;

				height: 1px;
				width: 30%;

			}

			&:before { left: 0; }

			&:after { right: 0; }

		}

		.title { text-transform: uppercase; }

	}

}