// Responsive controls

.res-wrap {

	position: relative;

	width: 100%;
	height: auto;

	@media ( max-width: @breakpointMobile ) {

		margin: auto;

		.img-base { width: 100%; } // Stupid Firefox!

	}

}

.img-base {

	opacity: 0;
	visibility: hidden;

	height: auto;

}

.layout-wrapper {

	// display: table; why was this here???
	margin: auto;
	max-width: 1180px;

	.layout-header {

		.clearfix;

		#logo {

			display: block;
			float: left;
			margin: 0;

			a {

				.hide-text;

				background: url( ../img/mini-logo.png ) 50% 50% no-repeat;
				.background-size( 100% );

				height: 55px;
				width: 105px;

			}

		}

		.social {

			.list-inline;

			display: table;
			float: right;
			margin: 0 auto;

			li {

				.hide-text;

				background: orange;
				display: block;
				margin-left: 4px;

				a {

					.hide-text;

					background: @formGrayDark;
					color: @white;
					display: block;
					padding: @margin;
					position: relative;
					text-decoration: none;

					&:hover { background: @formGray; }

					&:after {

						.icon;

						font-size: 16px;
						margin-top: -8px;
						margin-left: -8px;
						position: absolute;

						top: 50%;
						left: 50%;

					}

				}

				&.facebook a:after { .icon-facebook-letter; }
				&.twitter a:after { .icon-twitter-bird; }

			}

		}

	}

	.layout-footer {

		font-size: @fontSizeSmall;
		margin: @margin 0;

		p {

			line-height: 1;

			a {

				color: @grayDark;

				&:before {

					.icon;
					.icon-raquo;

					font-size: @fontSizeSmaller * 0.8;
					margin-right: 0.5em;

				}

			}

		}

	}

	.layout {

		color: white;
		max-width: 1180px;
		overflow: hidden;
		position: relative;

		height: 785px;

		&.full-width {

			height: auto;
			width: 1180px;

		}

		&.auto-height {

			height: auto;

		}

		.column {

			float: right;
			position: relative;

			&.left { width: 780px; }

			&.right {

				margin: 2px 0;

				height: 100%;
				width: 400px;

			}

		}

	}

}


// Common elements



.panel {

	.box-sizing( border-box );

	display: none;
	margin-left: 2px;
	opacity: 0;
	padding: @margin * 1.5;
	height: 100%;
	visibility: hidden;

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.panel-active {

		display: block;

		opacity: 1;
		visibility: visible;

	}

}

.actions {

	padding: 0px;

	#results_back,
	#results_recombobulate {

		display: block;

		a {

			font-family: @fontMiniBold;
			color: @grayDarker;
			text-decoration: none;
			text-transform: uppercase;

			&:before {

				.icon;
				.icon-raquo;
				.rotate( 180deg );

				margin-right: 0.5em;

			}

		}

	}

	#results_close {

		float: right;

		a {

			.hide-text;

			color: @white;
			display: block;
			float: right;
			font-size: @fontSizeLarge;
			position: relative;
			text-decoration: none;

			height: 1em;
			width: 1em;

			&:before {

				.icon;
				.icon-cross;

				position: absolute;

				top: 0;
				left: 0;

			}

		}

	}

}

.price-span {

	.clearfix;

	font-family: @fontAlt;
	overflow: hidden;
	position: absolute;
	margin-top: 45px;
	z-index: 1;

	.currency, .price, .permonth, .car-link {

		display: block;
		float: left;
		line-height: 1;
		margin-right: 5px;

	}

	.car-link {

		font-size: 20px;

	}

	.currency {

		font-size: @fontSizeLarge;
		position: relative;

		top: @fontSize / 2;

	}

	.price { font-size: 56px; }

	.permonth {

		font-size: @fontSize;
		position: relative;
		top: 22px;

	}

}

.ministry {

	.hide-text;

	background: url( ../img/ministry-of-finance.png ) 50% 50% no-repeat;
	.background-size( 100% );
	display: table;
	margin: 0 auto;

	height: 100px;
	width: 100px;

}

.terms, .notice {

	&, p {

		color: @grayDark;
		font-size: @fontSizeSmaller;
		line-height: @fontSize;

		& + &,
		& + .form-control { margin-top: @margin; }

	}

}

.model-image {

	margin: @margin -( @margin * 1.5 );
	margin: 105px -30px;

	overflow: hidden;
	position: relative;

	img {

		&.img-base {

			height: auto;
			width: 100%;

		}

		&.img-content {

			position: absolute;

			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			max-width:760px;

		}

	}

}


// Panel-specific

.panel-framed {

	&.centered { .tc; }

	border: solid 12px @grayFrame;

}

// Results page

#results-car {

	background-size: 80% auto;
	margin: 0;

	// This is a remainder of the old, two-column layout left here just in case they decide to use it...

	.car-desc {

		margin: 0 @margin;
		overflow: hidden;
		position: absolute;

		right: 0;
		bottom: 0;
		left: 0;

		height: 150px;

		.car-price {

			position: absolute;

			top: 0;
			left: 0;

			width: 220px;

		}

		.car-details {

			position: absolute;

			top: 0;
			right: 0;

			width: 740px - ( 220 + @margin );

			h1 { font-size: @fontSizeLarge; }

		}

	}

	// New, single-column layout

	#car-image, .skid {

		margin: 0 auto;
		width: 80%;

	}
	.skid{
		z-index:-1;
	}

	figcaption {

		position: absolute;

		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.car-layout {

			position: absolute;

			right: 0;
			left: 0;

			&.top {

				top: 0;

				h2 {

					font-size: @fontSizeLarger;
					max-width: 480px;

				}

			}

			&.bottom {

				background: @trueBlack;
				border-top: solid 1px @grayDarker;
				padding: 0;

				bottom: 0;

				p {

					font-size: @fontSizeSmall;
					margin: @margin 0 @margin / 2;

				}

			}

		}

		#payment-plan {

			display: block;
			margin: 0 auto @margin;
			overflow: hidden;

			width: 100%;

			table-layout:fixed;

			tbody {

				display: block;
				float: left;
				margin-right: 2%;

				width: 32%;

				&:last-of-type { margin-right: 0; }

				tr {

					border-bottom: solid 1px @white;
					display: block;
					overflow: hidden;
					width: 100%;

					&:last-of-type { border: 0; }

					td {

						display: block;
						float: left;
						font-family: @fontMini;
						font-size: @fontSizeSmall;
						line-height: 1;
						padding: 5px 0;

						width: 50%;

						&:nth-child( even ) { .tr; }

					}

				}

			}

		}

	}


}

#welcome {

	.header {

		border-bottom: solid 1px @formGrayDark;
		margin: 0 0 @margin 0;
		text-transform: uppercase;

		.strike-through {

			margin: @margin 0;
			position: relative;

			&:before, &:after {

				.pseudo;

				background: @formGrayDark;
				margin-top: -( 1px / 2 );
				position: absolute;

				top: 50%;

				height: 1px;
				width: 30%;

			}

			&:before { left: 0; }

			&:after { right: 0; }

		}

		.title { text-transform: uppercase; }

	}

}

#results {

	padding-top: 30px + ( @margin * 1.5 );

	hr { margin: 0; }

	.control-title {

		margin: 0;
		position: absolute;

		top: 0;
		right: 0;
		left: 0;

	}

	.model-name {

		font-size: @fontSizeLarger;

		height: 2em;

	}

	.model-image { margin-bottom: 5px; }


	// Rocket car

	.rocket-car-wrap {

		margin-top: 55px;
		margin-bottom: 55px;

		.rocket-car--car {

			z-index: 3;

		}
		.rocket-car--glow {

			z-index: 2;
			opacity: 0;

		}
		.rocket-car--shadow {

			z-index: 1;

		}

	}

	.gimmick {

		font-family: @fontAlt;
		font-size: @fontSizeMedium;
		margin: @margin 0;
		line-height: 19px;

	}

	.related {

		.list-inline;

		background: @dialGrayDark;
		margin: auto -( @margin * 1.5 );
		padding: @margin * 1.5;

		li {

			.box-sizing( border-box );

			display: block;
			padding: 0 2px;

			width: 25%;

			a {

				background: url( ../img/skid-marks.jpg ) 50% 50% no-repeat;
				background-size: cover;
				display: block;

				&.active {
					border-style: solid;
					border-width: 1px;
					border-color: transparent;
				}

			}

		}

	}

}

.thanks {

	header, footer { .tc; }

	header h3 { margin-top: @margin; }

	footer {

		margin: @margin * 2 0 0;

		.form-control { margin: 0; }

	}

}

.thanks-content {

	header.centred {

		text-align: center;

		h3 {

			padding-top: 20px;

		}

	}

}


.thanks-links {

	.item {

		font-size: @fontSizeMedium;
		margin: 0 0 @margin / 2!important;

		&:before {

			.icon;
			.icon-raquo;

			margin-right: 0.5em;

		}

		& + p {

			font-size: @fontSizeSmall;
			line-height: 1.5em;
			margin: 0 0 0 @fontSizeMedium * 1.5;

		}

	}

}

.car-name-big {
	font-size: 36px;
}

// Responsive

@media ( max-width: @breakpointMobile ) {

	html > body .layout-wrapper {

		.layout {

			max-width: 800px;

			height: auto;

			.control-title {
				cursor: pointer;
			}

			.top, .middle, .bottom, .inner-left, .inner-right, .control-title {

				display: block !important;
				text-indent: 0 !important;

				box-shadow: none;
				margin: 0;

			}

			.column {

				&.left, &.right {

					clear: both;
					float: none;
					overflow: hidden;

					height: auto;
					width: auto;

					.panel {

						position: static;

						width: auto;

					}

				}

			}

		}

		.layout-footer { margin: @margin; }

	}


	html > body .layout-wrapper {

		.panel {

			&#welcome header h1 { font-size: 24px; }
			&#results {

				padding-top: 30px;

				.control-title { display: none !important; }

			}

		}

	}

	html > body #page-results.layout-wrapper .layout.full-width {

		width: auto;

		#results-car {

			margin: 0 @margin;

			.img-base { display: none; }

			#car-image { position: static; }

			figcaption {

				&, .car-layout {

					position: static;

					&.top {

						.actions {

							position: absolute;

							top: 0;
							right: 0;
							left: 0;

						}

					}

					&.bottom {

						border: 0;
						margin: @margin auto 0;

						tbody {

							border-top: solid 1px @white;
							float: none;
							margin: 0;

							width: auto;

							&:first-of-type { border: 0; }

						}

					}

				}

			}

		}

	}

	html > body #page-form.layout-wrapper .layout.auto-height {

		margin: 0 @margin;

		.form-left, .form-right {

			border: 0;
			float: none;
			margin: 0;
			max-width: none;

			width: auto;

		}

		.form-left {

			padding: 0px;
			margin-bottom: 20px;

		}


		.inline .half-width, .inline, .half-width, #address_type_chooser {

			float: none;

			width: 100%;

			input:not( [type=checkbox] ):not( [type=radio] ),
			.button,
			button,
			textarea { width: 100%; }

		}

		#form_car { display: none; }

		#finance + label { line-height: 1.4em; }

	}



}

// Form page

html > body #page-form.layout-wrapper {

	form { .clearfix; }

	.form-left, .form-right {

		float: left;
		overflow: hidden;
		position: relative;

	}

	.form-left {

		border-right: solid 1px @dialGray;
		max-width: ~'calc( 35% - 41px )';
		margin-right: @margin;
		padding-right: @margin;
		max-width: 360px;

	}
	
	.form-content {

		padding-top: 1em

	}


	.form-right {

		position: absolute;
		margin-top: 68px;
		margin-left: 400px;
		max-width: 100%;
		padding-right: 20px;
	
	}

	#form_car {

		background: url( ../img/skid-marks-faded.png ) 50% 50% no-repeat;
		margin: 0 auto;

		height: auto;
		width: 100%;

	}

	// Actual form layout

	.inline {

		.clearfix;

		.form-control {

			.box-sizing( border-box );

			&:first-of-type {

				float: left;

				width: auto;

			}

			&:last-of-type {

				float: right;

				width: auto;

			}

		}

	}

	#optout_chooser, #address_type_chooser {

		.clearfix;

		.checkbox {

			float: left;
			margin-right: @margin;

			&.checkbox-radio label { line-height: 2.3em; }

		}

	}

}



// Error page

#heading_error {
	color: white;
	padding: 20px;
}


