/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@combobulate-x: 750px;
@combobulate-y: 1105px;
@combobulate-offset-x: -750px;
@combobulate-offset-y: -1105px;
@combobulate-width: 134px;
@combobulate-height: 133px;
@combobulate-total-width: 1490px;
@combobulate-total-height: 1255px;
@combobulate-image: '../img/sprites/sprites.png';
@combobulate: 750px 1105px -750px -1105px 134px 133px 1490px 1255px '../img/sprites/sprites.png';
@lifestyle-dial-x: 380px;
@lifestyle-dial-y: 765px;
@lifestyle-dial-offset-x: -380px;
@lifestyle-dial-offset-y: -765px;
@lifestyle-dial-width: 190px;
@lifestyle-dial-height: 190px;
@lifestyle-dial-total-width: 1490px;
@lifestyle-dial-total-height: 1255px;
@lifestyle-dial-image: '../img/sprites/sprites.png';
@lifestyle-dial: 380px 765px -380px -765px 190px 190px 1490px 1255px '../img/sprites/sprites.png';
@lifestyle-label-window-x: 190px;
@lifestyle-label-window-y: 765px;
@lifestyle-label-window-offset-x: -190px;
@lifestyle-label-window-offset-y: -765px;
@lifestyle-label-window-width: 190px;
@lifestyle-label-window-height: 190px;
@lifestyle-label-window-total-width: 1490px;
@lifestyle-label-window-total-height: 1255px;
@lifestyle-label-window-image: '../img/sprites/sprites.png';
@lifestyle-label-window: 190px 765px -190px -765px 190px 190px 1490px 1255px '../img/sprites/sprites.png';
@lifestyle-labels-x: 700px;
@lifestyle-labels-y: 415px;
@lifestyle-labels-offset-x: -700px;
@lifestyle-labels-offset-y: -415px;
@lifestyle-labels-width: 190px;
@lifestyle-labels-height: 190px;
@lifestyle-labels-total-width: 1490px;
@lifestyle-labels-total-height: 1255px;
@lifestyle-labels-image: '../img/sprites/sprites.png';
@lifestyle-labels: 700px 415px -700px -415px 190px 190px 1490px 1255px '../img/sprites/sprites.png';
@lifestyle-mask-x: 0px;
@lifestyle-mask-y: 765px;
@lifestyle-mask-offset-x: 0px;
@lifestyle-mask-offset-y: -765px;
@lifestyle-mask-width: 190px;
@lifestyle-mask-height: 190px;
@lifestyle-mask-total-width: 1490px;
@lifestyle-mask-total-height: 1255px;
@lifestyle-mask-image: '../img/sprites/sprites.png';
@lifestyle-mask: 0px 765px 0px -765px 190px 190px 1490px 1255px '../img/sprites/sprites.png';
@luggage-arrows-left-x: 700px;
@luggage-arrows-left-y: 605px;
@luggage-arrows-left-offset-x: -700px;
@luggage-arrows-left-offset-y: -605px;
@luggage-arrows-left-width: 150px;
@luggage-arrows-left-height: 150px;
@luggage-arrows-left-total-width: 1490px;
@luggage-arrows-left-total-height: 1255px;
@luggage-arrows-left-image: '../img/sprites/sprites.png';
@luggage-arrows-left: 700px 605px -700px -605px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@luggage-arrows-right-x: 570px;
@luggage-arrows-right-y: 765px;
@luggage-arrows-right-offset-x: -570px;
@luggage-arrows-right-offset-y: -765px;
@luggage-arrows-right-width: 150px;
@luggage-arrows-right-height: 150px;
@luggage-arrows-right-total-width: 1490px;
@luggage-arrows-right-total-height: 1255px;
@luggage-arrows-right-image: '../img/sprites/sprites.png';
@luggage-arrows-right: 570px 765px -570px -765px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@luggage-arrows-x: 870px;
@luggage-arrows-y: 765px;
@luggage-arrows-offset-x: -870px;
@luggage-arrows-offset-y: -765px;
@luggage-arrows-width: 150px;
@luggage-arrows-height: 150px;
@luggage-arrows-total-width: 1490px;
@luggage-arrows-total-height: 1255px;
@luggage-arrows-image: '../img/sprites/sprites.png';
@luggage-arrows: 870px 765px -870px -765px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@luggage-dial-big-loader-x: 630px;
@luggage-dial-big-loader-y: 0px;
@luggage-dial-big-loader-offset-x: -630px;
@luggage-dial-big-loader-offset-y: 0px;
@luggage-dial-big-loader-width: 350px;
@luggage-dial-big-loader-height: 350px;
@luggage-dial-big-loader-total-width: 1490px;
@luggage-dial-big-loader-total-height: 1255px;
@luggage-dial-big-loader-image: '../img/sprites/sprites.png';
@luggage-dial-big-loader: 630px 0px -630px 0px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@luggage-dial-light-packer-x: 0px;
@luggage-dial-light-packer-y: 415px;
@luggage-dial-light-packer-offset-x: 0px;
@luggage-dial-light-packer-offset-y: -415px;
@luggage-dial-light-packer-width: 350px;
@luggage-dial-light-packer-height: 350px;
@luggage-dial-light-packer-total-width: 1490px;
@luggage-dial-light-packer-total-height: 1255px;
@luggage-dial-light-packer-image: '../img/sprites/sprites.png';
@luggage-dial-light-packer: 0px 415px 0px -415px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@luggage-dial-lugger-x: 350px;
@luggage-dial-lugger-y: 415px;
@luggage-dial-lugger-offset-x: -350px;
@luggage-dial-lugger-offset-y: -415px;
@luggage-dial-lugger-width: 350px;
@luggage-dial-lugger-height: 350px;
@luggage-dial-lugger-total-width: 1490px;
@luggage-dial-lugger-total-height: 1255px;
@luggage-dial-lugger-image: '../img/sprites/sprites.png';
@luggage-dial-lugger: 350px 415px -350px -415px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@luggage-dial-minimalist-x: 980px;
@luggage-dial-minimalist-y: 0px;
@luggage-dial-minimalist-offset-x: -980px;
@luggage-dial-minimalist-offset-y: 0px;
@luggage-dial-minimalist-width: 350px;
@luggage-dial-minimalist-height: 350px;
@luggage-dial-minimalist-total-width: 1490px;
@luggage-dial-minimalist-total-height: 1255px;
@luggage-dial-minimalist-image: '../img/sprites/sprites.png';
@luggage-dial-minimalist: 980px 0px -980px 0px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@luggage-dial-x: 980px;
@luggage-dial-y: 350px;
@luggage-dial-offset-x: -980px;
@luggage-dial-offset-y: -350px;
@luggage-dial-width: 350px;
@luggage-dial-height: 350px;
@luggage-dial-total-width: 1490px;
@luggage-dial-total-height: 1255px;
@luggage-dial-image: '../img/sprites/sprites.png';
@luggage-dial: 980px 350px -980px -350px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@luggage-mask-bottom-x: 980px;
@luggage-mask-bottom-y: 700px;
@luggage-mask-bottom-offset-x: -980px;
@luggage-mask-bottom-offset-y: -700px;
@luggage-mask-bottom-width: 350px;
@luggage-mask-bottom-height: 30px;
@luggage-mask-bottom-total-width: 1490px;
@luggage-mask-bottom-total-height: 1255px;
@luggage-mask-bottom-image: '../img/sprites/sprites.png';
@luggage-mask-bottom: 980px 700px -980px -700px 350px 30px 1490px 1255px '../img/sprites/sprites.png';
@luggage-mask-x: 280px;
@luggage-mask-y: 0px;
@luggage-mask-offset-x: -280px;
@luggage-mask-offset-y: 0px;
@luggage-mask-width: 350px;
@luggage-mask-height: 350px;
@luggage-mask-total-width: 1490px;
@luggage-mask-total-height: 1255px;
@luggage-mask-image: '../img/sprites/sprites.png';
@luggage-mask: 280px 0px -280px 0px 350px 350px 1490px 1255px '../img/sprites/sprites.png';
@mpg-00-x: 720px;
@mpg-00-y: 765px;
@mpg-00-offset-x: -720px;
@mpg-00-offset-y: -765px;
@mpg-00-width: 150px;
@mpg-00-height: 150px;
@mpg-00-total-width: 1490px;
@mpg-00-total-height: 1255px;
@mpg-00-image: '../img/sprites/sprites.png';
@mpg-00: 720px 765px -720px -765px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-01-x: 600px;
@mpg-01-y: 1105px;
@mpg-01-offset-x: -600px;
@mpg-01-offset-y: -1105px;
@mpg-01-width: 150px;
@mpg-01-height: 150px;
@mpg-01-total-width: 1490px;
@mpg-01-total-height: 1255px;
@mpg-01-image: '../img/sprites/sprites.png';
@mpg-01: 600px 1105px -600px -1105px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-02-x: 1020px;
@mpg-02-y: 765px;
@mpg-02-offset-x: -1020px;
@mpg-02-offset-y: -765px;
@mpg-02-width: 150px;
@mpg-02-height: 150px;
@mpg-02-total-width: 1490px;
@mpg-02-total-height: 1255px;
@mpg-02-image: '../img/sprites/sprites.png';
@mpg-02: 1020px 765px -1020px -765px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-03-x: 1170px;
@mpg-03-y: 765px;
@mpg-03-offset-x: -1170px;
@mpg-03-offset-y: -765px;
@mpg-03-width: 150px;
@mpg-03-height: 150px;
@mpg-03-total-width: 1490px;
@mpg-03-total-height: 1255px;
@mpg-03-image: '../img/sprites/sprites.png';
@mpg-03: 1170px 765px -1170px -765px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-04-x: 0px;
@mpg-04-y: 955px;
@mpg-04-offset-x: 0px;
@mpg-04-offset-y: -955px;
@mpg-04-width: 150px;
@mpg-04-height: 150px;
@mpg-04-total-width: 1490px;
@mpg-04-total-height: 1255px;
@mpg-04-image: '../img/sprites/sprites.png';
@mpg-04: 0px 955px 0px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-05-x: 150px;
@mpg-05-y: 955px;
@mpg-05-offset-x: -150px;
@mpg-05-offset-y: -955px;
@mpg-05-width: 150px;
@mpg-05-height: 150px;
@mpg-05-total-width: 1490px;
@mpg-05-total-height: 1255px;
@mpg-05-image: '../img/sprites/sprites.png';
@mpg-05: 150px 955px -150px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-06-x: 300px;
@mpg-06-y: 955px;
@mpg-06-offset-x: -300px;
@mpg-06-offset-y: -955px;
@mpg-06-width: 150px;
@mpg-06-height: 150px;
@mpg-06-total-width: 1490px;
@mpg-06-total-height: 1255px;
@mpg-06-image: '../img/sprites/sprites.png';
@mpg-06: 300px 955px -300px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-07-x: 450px;
@mpg-07-y: 955px;
@mpg-07-offset-x: -450px;
@mpg-07-offset-y: -955px;
@mpg-07-width: 150px;
@mpg-07-height: 150px;
@mpg-07-total-width: 1490px;
@mpg-07-total-height: 1255px;
@mpg-07-image: '../img/sprites/sprites.png';
@mpg-07: 450px 955px -450px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-08-x: 600px;
@mpg-08-y: 955px;
@mpg-08-offset-x: -600px;
@mpg-08-offset-y: -955px;
@mpg-08-width: 150px;
@mpg-08-height: 150px;
@mpg-08-total-width: 1490px;
@mpg-08-total-height: 1255px;
@mpg-08-image: '../img/sprites/sprites.png';
@mpg-08: 600px 955px -600px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-09-x: 750px;
@mpg-09-y: 955px;
@mpg-09-offset-x: -750px;
@mpg-09-offset-y: -955px;
@mpg-09-width: 150px;
@mpg-09-height: 150px;
@mpg-09-total-width: 1490px;
@mpg-09-total-height: 1255px;
@mpg-09-image: '../img/sprites/sprites.png';
@mpg-09: 750px 955px -750px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-10-x: 900px;
@mpg-10-y: 955px;
@mpg-10-offset-x: -900px;
@mpg-10-offset-y: -955px;
@mpg-10-width: 150px;
@mpg-10-height: 150px;
@mpg-10-total-width: 1490px;
@mpg-10-total-height: 1255px;
@mpg-10-image: '../img/sprites/sprites.png';
@mpg-10: 900px 955px -900px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-11-x: 1050px;
@mpg-11-y: 955px;
@mpg-11-offset-x: -1050px;
@mpg-11-offset-y: -955px;
@mpg-11-width: 150px;
@mpg-11-height: 150px;
@mpg-11-total-width: 1490px;
@mpg-11-total-height: 1255px;
@mpg-11-image: '../img/sprites/sprites.png';
@mpg-11: 1050px 955px -1050px -955px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-12-x: 0px;
@mpg-12-y: 1105px;
@mpg-12-offset-x: 0px;
@mpg-12-offset-y: -1105px;
@mpg-12-width: 150px;
@mpg-12-height: 150px;
@mpg-12-total-width: 1490px;
@mpg-12-total-height: 1255px;
@mpg-12-image: '../img/sprites/sprites.png';
@mpg-12: 0px 1105px 0px -1105px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-13-x: 150px;
@mpg-13-y: 1105px;
@mpg-13-offset-x: -150px;
@mpg-13-offset-y: -1105px;
@mpg-13-width: 150px;
@mpg-13-height: 150px;
@mpg-13-total-width: 1490px;
@mpg-13-total-height: 1255px;
@mpg-13-image: '../img/sprites/sprites.png';
@mpg-13: 150px 1105px -150px -1105px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-knob-arrow-x: 300px;
@mpg-knob-arrow-y: 1105px;
@mpg-knob-arrow-offset-x: -300px;
@mpg-knob-arrow-offset-y: -1105px;
@mpg-knob-arrow-width: 150px;
@mpg-knob-arrow-height: 150px;
@mpg-knob-arrow-total-width: 1490px;
@mpg-knob-arrow-total-height: 1255px;
@mpg-knob-arrow-image: '../img/sprites/sprites.png';
@mpg-knob-arrow: 300px 1105px -300px -1105px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@mpg-knob-x: 450px;
@mpg-knob-y: 1105px;
@mpg-knob-offset-x: -450px;
@mpg-knob-offset-y: -1105px;
@mpg-knob-width: 150px;
@mpg-knob-height: 150px;
@mpg-knob-total-width: 1490px;
@mpg-knob-total-height: 1255px;
@mpg-knob-image: '../img/sprites/sprites.png';
@mpg-knob: 450px 1105px -450px -1105px 150px 150px 1490px 1255px '../img/sprites/sprites.png';
@opts-awd-off-x: 1330px;
@opts-awd-off-y: 440px;
@opts-awd-off-offset-x: -1330px;
@opts-awd-off-offset-y: -440px;
@opts-awd-off-width: 160px;
@opts-awd-off-height: 110px;
@opts-awd-off-total-width: 1490px;
@opts-awd-off-total-height: 1255px;
@opts-awd-off-image: '../img/sprites/sprites.png';
@opts-awd-off: 1330px 440px -1330px -440px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-awd-on-x: 884px;
@opts-awd-on-y: 1105px;
@opts-awd-on-offset-x: -884px;
@opts-awd-on-offset-y: -1105px;
@opts-awd-on-width: 160px;
@opts-awd-on-height: 110px;
@opts-awd-on-total-width: 1490px;
@opts-awd-on-total-height: 1255px;
@opts-awd-on-image: '../img/sprites/sprites.png';
@opts-awd-on: 884px 1105px -884px -1105px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-dt-off-x: 1330px;
@opts-dt-off-y: 550px;
@opts-dt-off-offset-x: -1330px;
@opts-dt-off-offset-y: -550px;
@opts-dt-off-width: 160px;
@opts-dt-off-height: 110px;
@opts-dt-off-total-width: 1490px;
@opts-dt-off-total-height: 1255px;
@opts-dt-off-image: '../img/sprites/sprites.png';
@opts-dt-off: 1330px 550px -1330px -550px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-dt-on-x: 1044px;
@opts-dt-on-y: 1105px;
@opts-dt-on-offset-x: -1044px;
@opts-dt-on-offset-y: -1105px;
@opts-dt-on-width: 160px;
@opts-dt-on-height: 110px;
@opts-dt-on-total-width: 1490px;
@opts-dt-on-total-height: 1255px;
@opts-dt-on-image: '../img/sprites/sprites.png';
@opts-dt-on: 1044px 1105px -1044px -1105px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-hp-off-x: 1330px;
@opts-hp-off-y: 0px;
@opts-hp-off-offset-x: -1330px;
@opts-hp-off-offset-y: 0px;
@opts-hp-off-width: 160px;
@opts-hp-off-height: 110px;
@opts-hp-off-total-width: 1490px;
@opts-hp-off-total-height: 1255px;
@opts-hp-off-image: '../img/sprites/sprites.png';
@opts-hp-off: 1330px 0px -1330px 0px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-hp-on-x: 1330px;
@opts-hp-on-y: 110px;
@opts-hp-on-offset-x: -1330px;
@opts-hp-on-offset-y: -110px;
@opts-hp-on-width: 160px;
@opts-hp-on-height: 110px;
@opts-hp-on-total-width: 1490px;
@opts-hp-on-total-height: 1255px;
@opts-hp-on-image: '../img/sprites/sprites.png';
@opts-hp-on: 1330px 110px -1330px -110px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-tp-off-x: 1330px;
@opts-tp-off-y: 220px;
@opts-tp-off-offset-x: -1330px;
@opts-tp-off-offset-y: -220px;
@opts-tp-off-width: 160px;
@opts-tp-off-height: 110px;
@opts-tp-off-total-width: 1490px;
@opts-tp-off-total-height: 1255px;
@opts-tp-off-image: '../img/sprites/sprites.png';
@opts-tp-off: 1330px 220px -1330px -220px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@opts-tp-on-x: 1330px;
@opts-tp-on-y: 330px;
@opts-tp-on-offset-x: -1330px;
@opts-tp-on-offset-y: -330px;
@opts-tp-on-width: 160px;
@opts-tp-on-height: 110px;
@opts-tp-on-total-width: 1490px;
@opts-tp-on-total-height: 1255px;
@opts-tp-on-image: '../img/sprites/sprites.png';
@opts-tp-on: 1330px 330px -1330px -330px 160px 110px 1490px 1255px '../img/sprites/sprites.png';
@range-bg-x: 0px;
@range-bg-y: 0px;
@range-bg-offset-x: 0px;
@range-bg-offset-y: 0px;
@range-bg-width: 140px;
@range-bg-height: 415px;
@range-bg-total-width: 1490px;
@range-bg-total-height: 1255px;
@range-bg-image: '../img/sprites/sprites.png';
@range-bg: 0px 0px 0px 0px 140px 415px 1490px 1255px '../img/sprites/sprites.png';
@range-handle-x: 1330px;
@range-handle-y: 1035px;
@range-handle-offset-x: -1330px;
@range-handle-offset-y: -1035px;
@range-handle-width: 140px;
@range-handle-height: 56px;
@range-handle-total-width: 1490px;
@range-handle-total-height: 1255px;
@range-handle-image: '../img/sprites/sprites.png';
@range-handle: 1330px 1035px -1330px -1035px 140px 56px 1490px 1255px '../img/sprites/sprites.png';
@range-mask-x: 140px;
@range-mask-y: 0px;
@range-mask-offset-x: -140px;
@range-mask-offset-y: 0px;
@range-mask-width: 140px;
@range-mask-height: 415px;
@range-mask-total-width: 1490px;
@range-mask-total-height: 1255px;
@range-mask-image: '../img/sprites/sprites.png';
@range-mask: 140px 0px -140px 0px 140px 415px 1490px 1255px '../img/sprites/sprites.png';
@slot-alien-x: 1330px;
@slot-alien-y: 735px;
@slot-alien-offset-x: -1330px;
@slot-alien-offset-y: -735px;
@slot-alien-width: 55px;
@slot-alien-height: 75px;
@slot-alien-total-width: 1490px;
@slot-alien-total-height: 1255px;
@slot-alien-image: '../img/sprites/sprites.png';
@slot-alien: 1330px 735px -1330px -735px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-boy-x: 1385px;
@slot-boy-y: 735px;
@slot-boy-offset-x: -1385px;
@slot-boy-offset-y: -735px;
@slot-boy-width: 55px;
@slot-boy-height: 75px;
@slot-boy-total-width: 1490px;
@slot-boy-total-height: 1255px;
@slot-boy-image: '../img/sprites/sprites.png';
@slot-boy: 1385px 735px -1385px -735px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-cat-x: 1330px;
@slot-cat-y: 810px;
@slot-cat-offset-x: -1330px;
@slot-cat-offset-y: -810px;
@slot-cat-width: 55px;
@slot-cat-height: 75px;
@slot-cat-total-width: 1490px;
@slot-cat-total-height: 1255px;
@slot-cat-image: '../img/sprites/sprites.png';
@slot-cat: 1330px 810px -1330px -810px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-dog-x: 1385px;
@slot-dog-y: 810px;
@slot-dog-offset-x: -1385px;
@slot-dog-offset-y: -810px;
@slot-dog-width: 55px;
@slot-dog-height: 75px;
@slot-dog-total-width: 1490px;
@slot-dog-total-height: 1255px;
@slot-dog-image: '../img/sprites/sprites.png';
@slot-dog: 1385px 810px -1385px -810px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-empty-x: 1330px;
@slot-empty-y: 885px;
@slot-empty-offset-x: -1330px;
@slot-empty-offset-y: -885px;
@slot-empty-width: 55px;
@slot-empty-height: 75px;
@slot-empty-total-width: 1490px;
@slot-empty-total-height: 1255px;
@slot-empty-image: '../img/sprites/sprites.png';
@slot-empty: 1330px 885px -1330px -885px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-girl-x: 1385px;
@slot-girl-y: 885px;
@slot-girl-offset-x: -1385px;
@slot-girl-offset-y: -885px;
@slot-girl-width: 55px;
@slot-girl-height: 75px;
@slot-girl-total-width: 1490px;
@slot-girl-total-height: 1255px;
@slot-girl-image: '../img/sprites/sprites.png';
@slot-girl: 1385px 885px -1385px -885px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-infant-x: 1330px;
@slot-infant-y: 960px;
@slot-infant-offset-x: -1330px;
@slot-infant-offset-y: -960px;
@slot-infant-width: 55px;
@slot-infant-height: 75px;
@slot-infant-total-width: 1490px;
@slot-infant-total-height: 1255px;
@slot-infant-image: '../img/sprites/sprites.png';
@slot-infant: 1330px 960px -1330px -960px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-man-x: 1330px;
@slot-man-y: 660px;
@slot-man-offset-x: -1330px;
@slot-man-offset-y: -660px;
@slot-man-width: 55px;
@slot-man-height: 75px;
@slot-man-total-width: 1490px;
@slot-man-total-height: 1255px;
@slot-man-image: '../img/sprites/sprites.png';
@slot-man: 1330px 660px -1330px -660px 55px 75px 1490px 1255px '../img/sprites/sprites.png';
@slot-woman-x: 1385px;
@slot-woman-y: 660px;
@slot-woman-offset-x: -1385px;
@slot-woman-offset-y: -660px;
@slot-woman-width: 55px;
@slot-woman-height: 75px;
@slot-woman-total-width: 1490px;
@slot-woman-total-height: 1255px;
@slot-woman-image: '../img/sprites/sprites.png';
@slot-woman: 1385px 660px -1385px -660px 55px 75px 1490px 1255px '../img/sprites/sprites.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
