// Fonts & typography

@fontSans:			'Open Sans', sans-serif;
@fontSerif:			'Merriweather', 'Times', serif;

@fontMono:			monospace;
@fontAlt:			'Montserrat', fantasy;

@fontSimpleSans:	sans-serif;
@fontSimpleSerif:	serif;

@fontSize:			16px;
@fontSizeSmall:		14px;
@fontSizeSmaller:	12px;
@fontSizeLarge:		18px;
@fontSizeLarger:	24px;

@lineHeight:		@fontSizeLarger;

// General variables

@margin:			20px;

// Paths

@boxSizingHTCPath:	'../js/lib/backgroundsize.min.htc';
@fancyBoxPath:		'../img/fancybox/';
@slickPath:			'../img/slick.js/';