

.layout-default {

	color: white;
	max-width: 1180px;
	overflow: hidden;
	position: relative;
	margin-bottom: @margin;

	padding: 0px @margin 0px @margin;
	overflow: visible;
	height: auto;
	width: ~'calc( 100% - 40px )';

}
