<div class="controls">
	
	<div class="control slot">

		<div class="wrap">

			<div class="control-bg"></div><!-- end div.control-bg -->

			<div class="slots">

				<div class="slot man"><span>Man</span></div><!-- end div.slot man -->
				<div class="slot woman"><span>Woman</span></div><!-- end div.slot woman -->

			</div><!-- end div.slots -->

		</div><!-- end div.wrap -->
		
	</div><!-- end div.control slot -->

	<div class="control slot">

		<div class="wrap">

			<div class="control-bg"></div><!-- end div.control-bg -->

			<div class="slots">

				<div class="slot woman"><span>Woman</span></div><!-- end div.slot woman -->
				<div class="slot man"><span>Man</span></div><!-- end div.slot man -->									

			</div><!-- end div.slots -->

		</div><!-- end div.wrap -->
		
	</div><!-- end div.control slot -->

	<div class="control slot">

		<div class="wrap">

			<div class="control-bg"></div><!-- end div.control-bg -->

			<div class="slots">
			
				<div class="slot empty"><span>Empty</span></div><!-- end div.slot boy -->
				<div class="slot boy"><span>Boy</span></div><!-- end div.slot boy -->
				<div class="slot girl"><span>Girl</span></div><!-- end div.slot girl -->
				<div class="slot infant"><span>Infant</span></div><!-- end div.slot infant -->
				<div class="slot man"><span>Man</span></div><!-- end div.slot man -->
				<div class="slot woman"><span>Woman</span></div><!-- end div.slot woman -->

			</div><!-- end div.slots -->

		</div><!-- end div.wrap -->
		
	</div><!-- end div.control slot -->

	<div class="control slot">

		<div class="wrap">

			<div class="control-bg"></div><!-- end div.control-bg -->

			<div class="slots">
			
				<div class="slot empty"><span>Empty</span></div><!-- end div.slot boy -->
				<div class="slot girl"><span>Girl</span></div><!-- end div.slot girl -->
				<div class="slot boy"><span>Boy</span></div><!-- end div.slot boy -->									
				<div class="slot infant"><span>Infant</span></div><!-- end div.slot infant -->
				<div class="slot man"><span>Man</span></div><!-- end div.slot man -->
				<div class="slot woman"><span>Woman</span></div><!-- end div.slot woman -->

			</div><!-- end div.slots -->

		</div><!-- end div.wrap -->
		
	</div><!-- end div.control slot -->

	<div class="control slot">

		<div class="wrap">

			<div class="control-bg"></div><!-- end div.control-bg -->

			<div class="slots">
			
				<div class="slot empty"><span>Empty</span></div><!-- end div.slot boy -->
				<div class="slot dog"><span>Dog</span></div><!-- end div.slot dog -->
				<div class="slot cat"><span>Cat</span></div><!-- end div.slot cat -->
				<div class="slot alien"><span>Alien</span></div><!-- end div.slot alien -->
				<div class="slot boy"><span>Boy</span></div><!-- end div.slot boy -->
				<div class="slot girl"><span>Girl</span></div><!-- end div.slot girl -->
				<div class="slot infant"><span>Infant</span></div><!-- end div.slot infant -->
				<div class="slot man"><span>Man</span></div><!-- end div.slot man -->
				<div class="slot woman"><span>Woman</span></div><!-- end div.slot woman -->

			</div><!-- end div.slots -->

		</div><!-- end div.wrap -->
		
	</div><!-- end div.control slot -->

	<button id="rnd">Randomize</button>
	
</div><!-- end div.controls -->