<div class="control mpg">
	
	<div class="scale">
		
		<div class="control-bg"></div><!-- end div.control-bg -->
		<div class="indicators"></div><!-- end div.indicators -->				
		<div class="knob"></div><!-- end div.knob -->				
		<div class="arrow"></div><!-- end div.arrow -->

	</div><!-- end div.scale -->

	<div id="mpg_value" class="value">0</div><!-- end div#mpg_value.value -->

</div><!-- end div.control mpg -->