<div class="control lifestyle">

	<div class="label-window"></div><!-- end div.label-window -->
	<div class="labels"></div><!-- end div.labels -->
	<div class="dial"></div><!-- end div.dial -->
	<div class="dial-shadow"></div><!-- end div.dial-shadow -->
	<div class="window control-bg">
		<div class="items-wrapper">
			<div class="item urbanite" data-value="Urbanite">1</div><!-- end div.item -->
			<div class="item beach-bum" data-value="Beach bum">2</div><!-- end div.item -->
			<div class="item mountaineer" data-value="Mountaineer">3</div><!-- end div.item -->
			<div class="item junglist" data-value="Junglist">4</div><!-- end div.item -->
		</div><!-- end div.items-wrapper -->
	</div><!-- end div.window control-bg -->
	<div class="mask"></div><!-- end div.mask -->

</div><!-- end div.control lifestyle -->