<div class="control slider">

	<div class="bg"></div><!-- end div.bg -->
	<div class="wrapper">
	<div class="control-bg-wrapper">
		
		<div class="control-bg"></div><!-- end div.control-bg -->
		<div class="mask"></div><!-- end div.mask -->
		<div class="handle"></div><!-- end div.handle -->

	</div><!-- end div.control-bg-wrapper -->
	</div><!-- end div.wrapper -->

</div><!-- end div.control slider -->