<div class="control roller roller-wide">

	<div class="wrap">

		<div class="slots">

			<!-- <div class="slot nippy clone1" data-value="1"><span>Nippy</span></div>
			<div class="slot nippier clone1" data-value="2"><span>Nippier</span></div>
			<div class="slot quick clone1" data-value="3"><span>Quick</span></div>
			<div class="slot woohoo clone1" data-value="4"><span>Woohoo</span></div>
			<div class="slot lightspeed clone1" data-value="5"><span>Lightspeed</span></div> -->

			<div class="slot nippy" data-value="1"><span>Nippy</span></div>
			<div class="slot nippier" data-value="2"><span>Nippier</span></div>
			<div class="slot quick" data-value="3"><span>Quick</span></div>
			<div class="slot woohoo" data-value="4"><span>Woohoo</span></div>
			<div class="slot lightspeed" data-value="5"><span>Lightspeed</span></div>

			<!-- <div class="slot nippy clone2" data-value="1"><span>Nippy</span></div>
			<div class="slot nippier clone2" data-value="2"><span>Nippier</span></div>
			<div class="slot quick clone2" data-value="3"><span>Quick</span></div>
			<div class="slot woohoo clone2" data-value="4"><span>Woohoo</span></div>
			<div class="slot lightspeed clone2" data-value="5"><span>Lightspeed</span></div> -->

		</div><!-- end div.slots -->

	</div><!-- end div.wrap -->

</div><!-- end div.control roller roller-wide -->