.align-centers {
  margin: 0 auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
html.ie8 > body .control-inner {
  margin: 20px auto 0!important;
  position: static!important;
}
html.ie.oldie > body #logo a {
  background-image: url(../img/mini-logo-small.png );
}
html.ie.oldie > body .layout-wrapper .layout #dash #mpg_value {
  background: #101010;
}
html.ie.oldie > body .layout-wrapper .layout #dash #dash-left .control-wrapper,
html.ie.oldie > body .layout-wrapper .layout #dash #dash-middle .control-wrapper,
html.ie.oldie > body .layout-wrapper .layout #dash #dash-right .control-wrapper {
  height: 100%;
  width: 100%;
}
html.ie.oldie > body .layout-wrapper .layout #dash #dash-left .control-wrapper .control-inner .control.start .shape,
html.ie.oldie > body .layout-wrapper .layout #dash #dash-middle .control-wrapper .control-inner .control.start .shape,
html.ie.oldie > body .layout-wrapper .layout #dash #dash-right .control-wrapper .control-inner .control.start .shape {
  background: url(../img/button-shape.png ) 50% 50% no-repeat;
  cursor: pointer;
  position: relative;
  z-index: 999999;
  height: 100%;
  width: 100%;
}
html.ie.oldie > body #page-home .layout,
html.ie.oldie > body #page-home .layout #dash {
  overflow: visible;
}
html.ie.oldie > body #page-home .layout .backline,
html.ie.oldie > body #page-home .layout #dash .backline {
  background-image: none!important;
}
html.ie.oldie > body #c-speed {
  background: 0 !important;
}
html.ie.oldie > body #page-home {
  padding-bottom: 300px;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom {
  z-index: 999;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .control-wrapper,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .control-wrapper {
  overflow: visible !important;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top #rollers,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom #rollers {
  overflow: visible;
  height: 100%;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller {
  overflow: visible;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller:after,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller:after {
  display: none;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller .list-static,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller .list-static {
  background: lime;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  top: 25%;
  height: 50%;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller .list-static .active,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller .list-static .active {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller .list-static.open,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller .list-static.open {
  overflow: visible;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller .list-static.open .item.active,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller .list-static.open .item.active {
  position: static;
}
html.ie.oldie > body #dash.ie-fallbacks #dash-left .top .roller .list-static.open .item:hover,
html.ie.oldie > body #dash.ie-fallbacks #dash-middle .bottom .roller .list-static.open .item:hover {
  background: #484848;
}
/*# sourceMappingURL=style.css.map */