<div class="res-wrap">
	
	<img src="assets/img/tpl-lifestyle.gif" class="img-base" />

	<div class="control lifestyle">
		
		<div class="dial"></div><!-- end div.dial -->
		<div class="dial-shadow"></div><!-- end div.dial-shadow -->
		<div class="label-window"></div><!-- end div.label-window -->
		<div class="window">

			<div class="switch-bg"></div><!-- end div.switch-bg -->

			<div class="items-wrapper">

				<div class="item beach-bum" data-value="2"></div><!-- end div.item -->
				<div class="item urbanite" data-value="1"></div><!-- end div.item -->
				<div class="item countrysider" data-value="3"></div><!-- end div.item -->
				<div class="item junglist" data-value="4"></div><!-- end div.item -->

			</div><!-- end div.items-wrapper -->
			
		</div><!-- end div.window switch-bg -->
		<div class="mask"></div><!-- end div.mask -->

	</div><!-- end div.control lifestyle -->

</div><!-- end div.res-wrap -->