<div class="res-wrap">
	
	<img src="assets/img/tpl-speed.gif" class="img-base" />

	<div class="control speed">

		<div id="speed" class="roller roller-wide">

			<div class="list">

				<div class="item bumper"><img src="assets/img/tpl-bumper-wide.gif" class="img-base" /></div>
				<div class="item active" data-value="1" style="height:80px"><img src="assets/img/tpl-roller-wide.gif" class="svg" data-src="assets/sprites/svg/speed-nippy.svg" /></div>
				<div class="item" data-value="2"><img src="assets/img/tpl-roller-wide.gif" class="svg" data-src="assets/sprites/svg/speed-nippier.svg" /></div>
				<div class="item" data-value="3"><img src="assets/img/tpl-roller-wide.gif" class="svg" data-src="assets/sprites/svg/speed-quick.svg" /></div>
				<div class="item" data-value="4"><img src="assets/img/tpl-roller-wide.gif" class="svg" data-src="assets/sprites/svg/speed-woohoo.svg" /></div>
				<div class="item" data-value="5"><img src="assets/img/tpl-roller-wide.gif" class="svg" data-src="assets/sprites/svg/speed-lightspeed.svg" /></div>
				<div class="item bumper"><img src="assets/img/tpl-bumper-wide.gif" class="img-base" /></div>

			</div>

			<div class="fake-list"></div><!-- end div.fake-list -->

		</div>

	</div><!-- end div.control speed -->

</div>