<div class="res-wrap">

	<img src="assets/img/tpl-luggage.gif" class="img-base" />

	<div class="control luggage">
		
		<div class="base">

			<div class="before"></div><!-- end div.before // This is because of the stupid IE! -->			
			<div class="switch-bg"></div><!-- end div.switch-bg -->
			<div class="dial minimalist"></div><!-- end div.dial -->

		</div><!-- end div.base -->

		<div class="arrows">

			<span id="left">left</span>
			<span id="right">right</span>

		</div><!-- end div.arrows -->

	</div><!-- end div#control.luggage -->

</div><!-- end div.res-wrap -->