@{ViewBag.Title = "MINI Combobulator Dashboard";string firstName = string.Empty;string userId = ViewBag.UserId;if (!string.IsNullOrEmpty(ViewBag.FirstName)){firstName = "<h3>Hi " + ViewBag.FirstName + "</h3>";}else{firstName = "<h3>Hi there,</h3>";}}

<div id="page-home" class="layout-wrapper">

	<header class="layout-header">
		
	<h2 id="logo"><a href="./">Mini</a></h2><!-- end h2#logo -->

	<ul class="social js-sharer">

		<li class="facebook" data-fb-mode="direct"><a href="https://www.facebook.com/MINI.uk">Facebook</a></li><!-- end li.facebook -->
		<li class="twitter"><a href="https://twitter.com/miniuk">Twitter</a></li><!-- end li.twitter -->
		
	</ul><!-- end ul.social -->

</header><!-- end header.layout-header -->

	<main id="layout-dash" class="layout-dash">
		
		<div class="column right">
			
			<div id="welcome" class="panel panel-framed centered" data-panel-name="default">

	<header class="header welcome">
		
		<p class="ministry">Ministry of Finance</p>
		<h6 class="strike-through">Presents</h6>
		
		<h1>The<br />Combobulator</h1>

	</header><!-- end header.header -->

	@Html.Raw(firstName)
	
	<p>Want a shiny new MINI, but don't know your MINI Countryman from your MINI Paceman? Let the Combobulator find the right model for you, at the touch of a button.</p>
	<p>Choose how much you'd like to spend, how turbo-charged you want your engine, and throw in an extra or two. Then hit 'Combobulate' to reveal the MINI for you.</p>
	<p>
	<span class="hideTablet hideMobile">Just use the control panel on the left to fire it up.</span>
	<span class="hideMobile hideDesktop">Just click the arrows below to start combobulating.</span>
	<span class="hideTablet hideDesktop">Just select the drop downs below to choose your options.</span>

	<br/>Happy Combobulating.</p>

</div><!-- end div#welcome.panel -->

<div id="results" class="panel panel-results" data-panel-name="results">

	<h5 class="control-title">Your results</h5>

	<div id="tpl-results">Loading...</div>
	
	<div class="results-footer">

		<p class="related-cars-caption">Or you might like...</p>
	
		<ul id="related" class="related">

			<li><a href="#" id="related_1" class="car-changer"><img src="assets/img/blank.png" /></a></li>
			<li><a href="#" id="related_2" class="car-changer"><img src="assets/img/blank.png" /></a></li>
			<li><a href="#" id="related_3" class="car-changer"><img src="assets/img/blank.png" /></a></li>
			<li><a href="#" id="related_4" class="car-changer"><img src="assets/img/blank.png" /></a></li>

		</ul><!-- end ul.related -->

	</div>
	
</div><!-- end div#results.panel -->

		</div><!-- end div.column left -->

		<div class="column left">

			@Html.Partial("_Dashboard")

		</div><!-- end div.column right -->

	</main><!-- end main.layout -->

	<footer class="layout-footer">
		
</footer><!-- end footer.layout-footer -->

</div><!-- end div.layout-wrapper -->

<input id="uid" type="hidden" value="@userId" />