<div class="form-control">

	<div class="select">

		<select id="addresses">

			<option value="">Choose your address</option>

			{{#addresses}}<option value="{{id}}">{{address}}</option>{{/addresses}}

		</select>

	</div>

</div>