<div class="form-control">

	<div class="select">

		<select id="dealers" name="dealer">

			<option value="">Choose your nearest dealer</option>

			{{#dealers}}<option value="{{id}}">{{dealer}}</option>{{/dealers}}

		</select>

	</div>

</div>