<div id="finance-template">

	<p>THE <strong>{{name}}</strong> <br/> {{info}}</p>

	<table id="payment-plan">

		<tbody>
		
			<tr>

				<td>Term of agreement</td>
				<td>{{term}} months</td>
				
			</tr>

			<tr>

				<td>{{term}} monthly payments</td>
				<td>£{{payment}}</td>
				
			</tr>

			<tr>

				<td>On the road cash price*</td>
				<td>£{{price}}</td>
				
			</tr>

			<tr class="customer-deposit--row">

				<td>Customer deposit</td>
				<td>£{{deposit}}</td>
				
			</tr>
		
			<tr class="retailer-deposit-contribution--row">

				<td>Retailer deposit contribution</td>
				<td>£{{contribution}}</td>
				
			</tr>

			<tr>

				<td>Total deposit</td>
				<td>£{{total_deposit}}</td>
				
			</tr>

			<tr>

				<td>Option to purchase fee**</td>
				<td>£{{purchase_fee}}</td>
				
			</tr>

			<tr>

				<td>Optional final payment**</td>
				<td>£{{final_payment}}</td>
				
			</tr>
		
			<tr>

				<td>Total amount payable</td>
				<td>£{{total_amount}}</td>
				
			</tr>

			<tr>

				<td>Total amount of credit</td>
				<td>£{{credit_charge}}</td>
				
			</tr>

			<tr>

				<td>Rate of interest</td>
				<td>{{roi}} Fixed</td>
				
			</tr>

			<tr>

				<td></td>
				<td>Representative {{apr}} APR</td>
				
			</tr>

		</tbody>

	</table>

	<p class="terms-toggle"><span class="show-terms">Terms and Conditions</span><span class="hide-terms">Terms and Conditions</span></p>
	<p>MINI UK, a trading name of BMW (UK) Limited, is a credit broker and not a lender.</p>
	<p class="terms">{{terms}}</p>
</div>