<p>{{info}}</p>

<table id="payment-plan">

	<tbody>
	
		<tr>

			<td>Term of agreement</td>
			<td>{{term}} months</td>
			
		</tr>

		<tr>

			<td>XX monthly payments</td>
			<td>£{{payment}}</td>
			
		</tr>

		<tr>

			<td>On the road cash price*</td>
			<td>£{{price}}</td>
			
		</tr>

		<tr>

			<td>Customer deposit</td>
			<td>£{{deposit}}</td>
			
		</tr>

	</tbody>

	<tbody>
	
		<tr>

			<td>Retailer deposit contribution</td>
			<td>£{{contribution}}</td>
			
		</tr>

		<tr>

			<td>Total deposit</td>
			<td>£{{total_deposit}}</td>
			
		</tr>

		<tr>

			<td>Option to purchase fee**</td>
			<td>£{{purchase_fee}}</td>
			
		</tr>

		<tr>

			<td>Optional final payment**</td>
			<td>£{{final_payment}}</td>
			
		</tr>

	</tbody>

	<tbody>
	
		<tr>

			<td>Total amount payable</td>
			<td>£{{total_amount}}</td>
			
		</tr>

		<tr>

			<td>Total amount of credit</td>
			<td>£{{credit_charge}}</td>
			
		</tr>

		<tr>

			<td>Rate of interest</td>
			<td>{{roi}} fixed</td>
			
		</tr>

		<tr>

			<td>Representative</td>
			<td>{{apr}} APR</td>
			
		</tr>

	</tbody>

</table>