<h5 class="control-title">Your results</h5>

<h3 class="model-name switch-color">{{name}}</h3>

<div class="price-span"><a href="{{url}}" class="button transparent car-link">See the finance offer</a></div>


<div class="model-image rocket-car-wrap">

	<img src="assets/cars/none.png" width="760" height="540" class="img-base" />
	<img src="assets/cars/rocket-car/rocketcar-car.png" width="760" height="540" class="img-content rocket-car--car" />
	<img src="assets/cars/rocket-car/rocketcar-glow.png" width="760" height="540" class="img-content rocket-car--glow" />
	<img src="assets/cars/rocket-car/rocketcar-shadow.png" width="760" height="540" class="img-content rocket-car--shadow" />
	<img src="assets/cars/rocket-car/rocketcar-bg.jpg" width="760" height="540" class="img-content rocket-car--bg" />

</div>