// Temporary
#debug {
	display: none;
}
@theme: #30B6E9;
//
// Components
// --------------------------------------
#top-bar {
	.mini-logo {
		width: 92px;
	}
}

#main {
	width: 1210px;

	#dashboard {
		//background: grey url('../../assets/img/dashboard.png') 0 0 no-repeat;
		width: 780px;
		height: 1728px;
		margin-right: 6px;
	}

	.panel {
		width: 384px;
		min-height: 728px;
		overflow: hidden;

		&.welcome {
			background-color: #000000;
			border: 10px solid #888888;
			padding: 30px;
			text-align: center;
			font-size: 14px;
			color: #ffffff;
			.title {

			}
			.ministry-logo {
				width: 121px;
				height: 112px;
				display: inline-block;
			}
			.highlight {
				color: @theme;
			}
		}

		&.results {
			color: #ffffff;
			.title {

			}
			.highlight {
				color: @theme;
			}
			.car {
				img {
					margin-left: -20%;
				}
			}
			.related-cars {
				ul {
					background-color: #303030;
					padding: 10px 20px;
					li {
						width: 84px;
						height: 61px;
						margin-right: 2px;
						position: relative;
						a {
							display: block;
						}
						&:last-child {
							margin-right: 0;
						}
						&.active:before {
							content: '';
							width: 82px;
							height: 59px;
							position: absolute;
							border: 1px solid @theme;
						}
					}
				}
			}
		}


	}
}

//
// Commonly used classes
// --------------------------------------
.row {
	overflow: hidden;
	zoom:1;
	.column {
		float: left;
		box-sizing: border-box;
	}
}
.hr {
	margin: 20px 0;
	hr {
		height: 0;
		margin: 0;
		border: 0;
		border-top: 1px solid #2F2E33;
	}
	span {
		background-color: #000000;
		padding: 2px 11px;
		position: relative;
		text-transform: uppercase;
	}
	&.presents {
		margin: 10px 0 24px;
		span {
			bottom: -12px;
			font-weight: bold;
		}
	}
}
.nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	zoom:1;
	li {
		float: left;
	}
}
.img-responsive {
	display: block;
	width: 100% \9;
	max-width: 100%;
	height: auto;
}

//
// Typograpgy
// --------------------------------------

.title {
	text-transform: uppercase;
}

//
// Buttons
// --------------------------------------
.btn {
	background-color: @theme;
	display: inline-block;
	padding: 6px 12px;
	position: relative;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

//
// Icons
// --------------------------------------
.icon {
	&.chev:before {
		content:'>>';
		display:inline-block;
		margin-right: 5px;
	}
}

// .icon.chev {
// 	.icon-ok;
// }
