@model Combobulator.Business.ViewModels.CarViewModel

<figure id="results-car" class="model-image">

	<img src="assets/cars/none.png" class="img-base" />

	<img src="@Url.Content("assets/cars/" + @Model.Code + ".png")" id="car-image" class="img-content" />
	<img src="assets/img/skid-marks-faded.png" class="img-content skid" />
	<figcaption>

		<div class="car-layout top">
			
			<ul class="actions">
			
				<li id="results_back"><a href="./">Go back</a></li>

			</ul>
			
				<h2 class="switch-color">@Model.Name</h2>

			<a href="/form?m=@Model.Code" class="button transparent">MAKE THIS MINI A REALITY</a>

		</div>

		<div class="car-layout bottom">

			<div id="tpl-finance">Loading...</div>

		</div>

	</figcaption><!-- end figcaption.car-desc -->
	
</figure><!-- end figure#car -->