@model Combobulator.Business.ViewModels.CarViewModel

<div class="car-result--layout">

	<ul class="actions">

		<li id="results_back"><a href="./">Recombobulate</a></li>

	</ul>

	<div class="car-result--left">

		<figcaption class="car-result--caption">
			<h2 class="switch-color">@Model.Name</h2>

			<a href="/form?m=@Model.Code&c=@ViewBag.UserId" class="button transparent car-link">How to get your hands on it</a>
		</figcaption>

		<figure id="results-car" class="model-image">

			<img src="assets/cars/none.png" class="img-base" />

			<a href="/form?m=@Model.Code&c=@ViewBag.UserId">
			<img src="@Url.Content("assets/cars/" + @Model.Code + ".jpg")" id="car-image" class="img-content" />
			</a>

		</figure><!-- end figure#car -->

	</div>

	<div class="car-result--right">

		<div id="tpl-finance">Loading...</div>

	</div>

</div>




