@model Combobulator.Business.ViewModels.CarViewModel

<figure id="results-car" class="model-image">

	<img src="assets/cars/none.png" class="img-base" />

	<img src="@Url.Content("assets/cars/" + @Model.Code + ".png")" id="results-car" class="img-content" />

	<figcaption>

		<div class="car-layout top">
			
			<ul class="actions">
			
				<li id="results-back"><a href="./">Go back</a></li>
				<li id="results-close"><a href="./">Close</a></li>

			</ul>
			
				<h2 class="switch-color">@Model.Name</h2>

			<a href="" class="button transparent">Call to action</a>

		</div>

		<div class="car-layout bottom">

			<div id="tpl-finance">Loading...</div>

		</div>

	</figcaption><!-- end figcaption.car-desc -->
	
</figure><!-- end figure#car -->