// TODO
@btnBaseRadius: 135px;
@btnBaseBorder: 5px;

@btnBorder: @btnBaseBorder;
@btnRadius: @btnBaseRadius;

@btnOuter: @btnRadius + ( ( 2 * @btnBorder ) * 2 );

.control.start {

	z-index: 1;

	height: @btnOuter;
	width: @btnOuter;

	.responsive;

	#start {

		.background-image( linear-gradient( to bottom, #010204 0%, #323337 100% ) );
		
		box-shadow: 0 -1px 0 0px lighten( @dialGray, 10% ) inset;
		border-radius: 100%;
		cursor: pointer;
		display: block;
		margin-top: -( ( @btnOuter - ( @btnBorder * 2 ) ) / 2 );
		margin-left: -( ( @btnOuter - ( @btnBorder * 2 ) ) / 2 );
		position: absolute;

		top: 50%;
		left: 50%;

		height: @btnOuter - ( @btnBorder * 2 );
		width: @btnOuter - ( @btnBorder * 2 );

		margin-top: -50%;
		margin-left: -50%;

		height: 100%;
		width: 100%;

		.button-inner {

			.box-sizing( border-box );
			.hide-text;
			.sprite-combobulate( @btnBaseRadius, @btnBaseRadius );
			.transition( background-color 0.05s ease-in );

			border: solid 6px @trueBlack !important;
			border-radius: 100%;
			position: absolute;

			top: ( ( 5 / 135 ) * 100% ) / 2 ;
			left: ( ( 5 / 135 ) * 100% ) / 2 ;

			height: 100% - ( ( 5 / 135 ) * 100% );
			width: 100% - ( ( 5 / 135 ) * 100% );

		}

	}

}