@lifestyleBaseH: 190px;
@lifestyleBaseW: 190px;

.control.lifestyle {

	position: relative;

	height: @lifestyleBaseH;
	width: @lifestyleBaseW;

	.mask, .labels, .label-window, .window, .contents, .dial-shadow, .dial { .align-centers; }

	.mask { .sprite-lifestyle-mask( @lifestyleBaseH, @lifestyleBaseW ); }
	.label-window { .sprite-lifestyle-label-window( @lifestyleBaseH, @lifestyleBaseW ); }
	.labels { .sprite-lifestyle-labels( @lifestyleBaseH, @lifestyleBaseW ); }
	.dial-shadow { .sprite-lifestyle-dial-shadow( @lifestyleBaseH, @lifestyleBaseW ); }
	.dial { .sprite-lifestyle-dial( @lifestyleBaseH, @lifestyleBaseW ); }

	.dial, .dial-shadow { margin-top: ( 10px / @lifestyleBaseH ) * 100%; }

	.dial-shadow {

		.height_pct( 170px, @lifestyleBaseH );

		background-size: 100%; 

	}

	.window {

		.list-remove-bullets;

		overflow: hidden;

		top: auto;
		bottom: ( 40px / @lifestyleBaseH ) * 100%;

		.height_pct( 105px, @lifestyleBaseH );
		.width_pct( 140px, @lifestyleBaseW );

		.items-wrapper {

			height: 100%;
			width: 100%;

			.slick-slider, .slick-list, .slick-track { height: 100%; }

			.item {

				display: block;
				float: left;

				&.urbanite { .sprite-lifestyle-item-urbanite( @lifestyleBaseH, @lifestyleBaseW ); }
				&.beach-bum { .sprite-lifestyle-item-beach-bum( @lifestyleBaseH, @lifestyleBaseW ); }
				&.mountaineer { .sprite-lifestyle-item-mountaineer( @lifestyleBaseH, @lifestyleBaseW ); }
				&.junglist { .sprite-lifestyle-item-junglist( @lifestyleBaseH, @lifestyleBaseW ); }

				height: 100% !important;

			}

		}

	}

	.mask {

		.height_pct( 160px, @lifestyleBaseH );

		bottom: auto;

		background-size: 100%;

	}
	
}