@baseW: 150px;
@baseH: 180px;

@mpgW: @baseW;
@mpgH: @baseH;

.control.mpg {

	position: relative;

	height: @mpgH;
	width: @mpgW;

	.scale, .control-bg, .indicators, .knob, .arrow { .align-centers; } // Center all layers

	.knob { .sprite-mpg-knob( @baseH, @baseW ); }
	.arrow { .sprite-mpg-knob-arrow( @baseH, @baseW ); }

	.control-bg { .size_pct( @baseW, @baseW, @baseH, @baseW ); }

	.value {

		.tc;

		background: darken( @dialGray, 10% );
		border: solid 1px darken( @white, 85% );
		border-radius: 3px;
		box-shadow: 0 6px 10px @black inset;
		color: @white;
		font-weight: bold;
		margin: 0 auto;
		padding: 3px;
		position: absolute;

		left: 0;
		bottom: 0;
		right: 0;

		width: 2em;

	}

	// ############################## Sprites ############################## //

	.indicators { .sprite-mpg-00( @baseH, @baseW ); }

	&.scale-1 .indicators { .sprite-mpg-01( @baseH, @baseW ); }
	&.scale-2 .indicators { .sprite-mpg-02( @baseH, @baseW ); }
	&.scale-3 .indicators { .sprite-mpg-03( @baseH, @baseW ); }
	&.scale-4 .indicators { .sprite-mpg-04( @baseH, @baseW ); }
	&.scale-5 .indicators { .sprite-mpg-05( @baseH, @baseW ); }
	&.scale-6 .indicators { .sprite-mpg-06( @baseH, @baseW ); }
	&.scale-7 .indicators { .sprite-mpg-07( @baseH, @baseW ); }
	&.scale-8 .indicators { .sprite-mpg-08( @baseH, @baseW ); }
	&.scale-9 .indicators { .sprite-mpg-09( @baseH, @baseW ); }
	&.scale-10 .indicators { .sprite-mpg-10( @baseH, @baseW ); }
	&.scale-11 .indicators { .sprite-mpg-11( @baseH, @baseW ); }
	&.scale-12 .indicators { .sprite-mpg-12( @baseH, @baseW ); }
	&.scale-13 .indicators { .sprite-mpg-13( @baseH, @baseW ); }

}

@media ( max-width: 720px ) {

	.control.mpg {

		height: @mpgH * 1.5;
		width: @mpgW * 1.5;

	}	

}