@mpgBaseW: 150px;
@mpgBaseH: 180px;

@mpgW: @mpgBaseW;
@mpgH: @mpgBaseH;

.control.mpg {

	position: relative;

	height: @mpgH;
	width: @mpgW;

	.scale, .control-bg, .indicators, .knob, .arrow { .align-centers; } // Center all layers

	.knob { .sprite-mpg-knob( @mpgBaseH, @mpgBaseW ); }
	.arrow { .sprite-mpg-knob-arrow( @mpgBaseH, @mpgBaseW ); }

	.control-bg { .size_pct( @mpgBaseW, @mpgBaseW, @mpgBaseH, @mpgBaseW ); }

	.value {

		.tc;

		background: darken( @dialGray, 10% );
		border: solid 1px darken( @white, 85% );
		border-radius: 3px;
		box-shadow: 0 6px 10px @black inset;
		color: @white;
		font-weight: bold;
		margin: 0 auto;
		padding: 3px;
		position: absolute;

		left: 0;
		bottom: 0;
		right: 0;

		width: 2em;

	}

	// ############################## Sprites ############################## //

	.indicators { .sprite-mpg-00( @mpgBaseH, @mpgBaseW ); }

	&.scale-1 .indicators { .sprite-mpg-01( @mpgBaseH, @mpgBaseW ); }
	&.scale-2 .indicators { .sprite-mpg-02( @mpgBaseH, @mpgBaseW ); }
	&.scale-3 .indicators { .sprite-mpg-03( @mpgBaseH, @mpgBaseW ); }
	&.scale-4 .indicators { .sprite-mpg-04( @mpgBaseH, @mpgBaseW ); }
	&.scale-5 .indicators { .sprite-mpg-05( @mpgBaseH, @mpgBaseW ); }
	&.scale-6 .indicators { .sprite-mpg-06( @mpgBaseH, @mpgBaseW ); }
	&.scale-7 .indicators { .sprite-mpg-07( @mpgBaseH, @mpgBaseW ); }
	&.scale-8 .indicators { .sprite-mpg-08( @mpgBaseH, @mpgBaseW ); }
	&.scale-9 .indicators { .sprite-mpg-09( @mpgBaseH, @mpgBaseW ); }
	&.scale-10 .indicators { .sprite-mpg-10( @mpgBaseH, @mpgBaseW ); }
	&.scale-11 .indicators { .sprite-mpg-11( @mpgBaseH, @mpgBaseW ); }
	&.scale-12 .indicators { .sprite-mpg-12( @mpgBaseH, @mpgBaseW ); }
	&.scale-13 .indicators { .sprite-mpg-13( @mpgBaseH, @mpgBaseW ); }

}

@media ( max-width: 720px ) {

	html body #dash #dash-left #c-mpg .control.mpg {

		height: @mpgH * 1.5;
		width: @mpgW * 1.5;

	}

}