.keyframes( ~'glow, 0% { box-shadow: 0 0 5px red, 0 0 15px red; } 100% { box-shadow: none; }' );

.control.options {

	.option {

		position: relative;

		height: 110px;
		width: 200px;

		input {

			&, * { display: none; }

			& + label {

				.box-sizing( border-box );
				.transition( background 100ms ease-out );

				display: block;
				margin-left: -80px;
				padding: 0;
				position: absolute;
				z-index: 1;

				top: 0;
				left: 50%;
				
				height: 110px;
				width: 160px;

				&:before {

					.pseudo;
					.transition( box-shadow 1s linear, background 0.2s linear );

					background: 0;
					border-radius: 100%;
					position: absolute;
					z-index: 999;

					top: 11px;
					left: 17px;

					height: 8px;
					width: 8px;

				}

				&:after {

					.pseudo;
					.sprite( @opts-awd-on );
					.transition( opacity 0.2s linear );

					opacity: 0;
					position: absolute;

					top: 0;
					right: 0;
					bottom: 0;
					left: 0;

				}

				span {

					.align-centers;
					.hide-text;
					.transition( opacity 0.2s linear, background-color 3s linear );

					border-radius: 100%;
					display: block;
					opacity: 0;

					top: 18px; // where dis this come from?
					left: 2px; // where dis this come from?
					bottom: auto;

					height: 35px;
					width: 35px;

				}

			}

			&:checked + label {

				&:before { .animation( glow 1ms 0.2s infinite linear ); }

				&:after { opacity: 1; }

				span { opacity: 1; }

			}

		}

		// ############################## Sprites ############################## //

		// 4-wheel drive

		&.opts-awd input + label {

			.sprite( @opts-awd-off );

			&:after { .sprite( @opts-awd-on ); }

		}

		// High position

		&.opts-hp input + label {

			.sprite( @opts-awd-off ); // @opts-hp-off );

			&:after { .sprite( @opts-awd-on ); } // @opts-hp-on ); }

		}

		// Drop top

		&.opts-dt input + label {

			.sprite( @opts-awd-off ); // @opts-dt-off );

			&:after { .sprite( @opts-awd-on ); } // @opts-dt-on ); }

		}

		// Teleportation

		&.opts-tp input + label {

			.sprite( @opts-awd-off ); // @opts-tp-off );

			&:after { .sprite( @opts-awd-on ); } // @opts-tp-on ); }

		}

	}

}