@rangeBaseH: 415px;
@rangeBaseW: 200px;

@sliderH: @rangeBaseH;
@sliderW: @rangeBaseW;

.control.slider {

	position: relative;

	height: @sliderH;
	width: @sliderW;

	.responsive;

	.bounds, .bg, .wrapper, .switch-bg-wrapper, .mask, .handle { .align-centers; } // Center all layers

	.bounds {

		top: -( 27px / @rangeBaseH ) * 100%;
		bottom: -( 28px / @rangeBaseH ) * 100%;

	}

	.bg { .sprite-range-bg( @rangeBaseH, @rangeBaseW ); }

	.mask {

		.sprite-range-mask( @rangeBaseH, @rangeBaseW );

		background-size: cover;

		height: 100%;
		width: 100%;

	}

	.handle {

		@hH: ( @range-handle-height / @rangeBaseH ) * 100%;

		.sprite-range-handle( @rangeBaseH, @rangeBaseW );

		top: auto;
		bottom: -( @hH / 2 );

		width: 100%;

	}

	.wrapper {

		@rH: @range-bg-height + @range-handle-height;
		@rW: @range-bg-width;

		overflow: visible;
		
		height: 100%; // firefox bug

		.width_pct( @rW, @rangeBaseW );

	}

	.switch-bg-wrapper {

		max-height: 100%;
		width: 100%;

		.height_pct( @range-bg-height, @rangeBaseH );

		.switch-bg {

			position: absolute;

			bottom: 0;

			height: 0%;
			width: 100%

		}

	}

}