extends jade/_master/master


block _locals
	- var activeIndex = -1
	- var pageTitle = "MINI Combobulator || Mule"

block _default

	#app-content(role="main")
		block _content
			#results
				header#app-page-header.row
					.col.panel.black
						.content
							h1(id="site-logo", style="position:static;padding-right:0;") MINI Combobulator

				#loadbay
					p Result will appear here

			#interface
				form(id="", method="", action="", autocomplete="off", novalidate)
					fieldset
						//-
							.field
								label(for="capacity-1") Capacity (Bums on seats)
								//- DEVNOTE: 0 reserved for no selection/off state(which is implied via the in interface but a valid response amongst the set)
								.control-group
									select(id="capacity-1", name="capacity-1")
										option(value="0") Off
										option(value="1") Man
										option(value="2") Woman
										option(value="3") Boy
										option(value="4") Girl
										option(value="5") Baby
										option(value="6") Cat
										option(value="7") Alien

									select(id="capacity-2", name="capacity-2")
										option(value="0") Off
										option(value="1") Man
										option(value="2") Woman
										option(value="3") Boy
										option(value="4") Girl
										option(value="5") Baby
										option(value="7") Alien

									select(id="capacity-3", name="capacity-3")
										option(value="0") Off
										option(value="1") Man
										option(value="2") Woman
										option(value="3") Boy
										option(value="4") Girl
										option(value="5") Baby
										option(value="7") Alien

									select(id="capacity-4", name="capacity-4")
										option(value="0") Off
										option(value="1") Man
										option(value="2") Woman
										option(value="3") Boy
										option(value="4") Girl
										option(value="5") Baby
										option(value="7") Alien

									select(id="capacity-5", name="capacity-5")
										option(value="0") Off
										option(value="1") Man
										option(value="2") Woman
										option(value="3") Boy
										option(value="4") Girl
										option(value="5") Baby
										option(value="7") Alien

						.field
							label(for="lifestyle") Lifestyle
							.control
								select(id="lifestyle", name="lifestyle")
									option(value="0") OFF
									option(value="1") City runaround
									option(value="2") Suburban cruiser
									option(value="3") Motorway express
									option(value="4") Round the lanes

						.field
							label(for="load") Baggage
							.control
								select(id="load", name="load")
									option(value="0") OFF
									option(value="1") Minimalist
									option(value="2") Light packer
									option(value="3") Lugger
									option(value="4") Big loader

						.field
							label(for="performance") Speed
							.control
								select(id="performance", name="performance")
									option(value="0") OFF
									option(value="1") Nippy
									option(value="2") Nippier
									option(value="3") Woohoo
									option(value="4") Cheetah strapped to rocket skates
									option(value="5") Light speed 

						.field
							label(for="budget") Budget
							.control
								select(id="budget", name="budget")
									option(value="0") OFF
									option(value="1") Up to £200
									option(value="2") Up to £250
									option(value="3") Up to £300
									option(value="4") £300+
						
						//-
							fieldset.field.checkbox
								legend Extras
								.control
									label
										input(type="checkbox", name="options", value="1")
										span.button(role="button")
											span 4WD
									label
										input(type="checkbox", name="options", value="2")
										span.button(role="button")
											span Elevated driving position
									label
										input(type="checkbox", name="options", value="3")
										span.button(role="button")
											span Social connectivity
									label
										input(type="checkbox", name="options", value="4")
										span.button(role="button")
											span Heads up display
									label
										input(type="checkbox", name="options", value="5")
										span.button(role="button")
											span Teleportation

						.field
							label(for="economy") Economy
							.control
								select(id="economy", name="economy")
									option(value="0") OFF
									option(value="1") 25-45 mpg
									option(value="2") 46-60 mpg
									option(value="3") 61-69 mpg
									option(value="4") 70+ mpg

						.field.radio
							label(for="colour") Colour
							.control
								label
									input(type="radio", name="colour", value="1")
									span.button(role="button")
										span Cyan
								label
									input(type="radio", name="colour", value="2")
									span.button(role="button")
										span Orange
								label
									input(type="radio", name="colour", value="3")
									span.button(role="button")
										span Indigo
								label
									input(type="radio", name="colour", value="4")
									span.button(role="button")
										span White
								label
									input(type="radio", name="colour", value="5")
									span.button(role="button")
										span Red
								label
									input(type="radio", name="colour", value="6")
									span.button(role="button")
										span Blue
								label
									input(type="radio", name="colour", value="7")
									span.button(role="button")
										span Green
								label
									input(type="radio", name="colour", value="8")
									span.button(role="button")
										span Black
								label
									input(type="radio", name="colour", value="9")
									span.button(role="button")
										span Yellow
								label
									input(type="radio", name="colour", value="10")
									span.button(role="button")
										span Cream
							//-
								select(id="colour", name="colour")
									option(value="0") OFF
									option(value="1") Cyan
									option(value="2") Orange
									option(value="3") Indigo
									option(value="4") White
									option(value="5") Red
									option(value="6") Blue
									option(value="7") Green
									option(value="8") Black
									option(value="9") Yellow
									option(value="10") Cream
									option(value="11") Silver
									option(value="12") Crimson
									option(value="13") Peach
									option(value="14") Brown
									option(value="15") Grey

					button.primary(type="submit")
						span.glyphicon-chevron-right(data-icon="right") Go

block _underscore_template
	script(id="tmpl", type="text/template").
		<h2>It's a Mini match!</h2>
		<p><%= model %> (<%= colour %>)</p>
		<img src="/content/img/models/<%= _config.img %>" />