
// make result-car clickable
.result-car{
	z-index:1;
}

.img-base {

	opacity: 0;
	visibility: hidden;

	height: auto;
	width: auto;

}

.model-image {

	overflow: hidden;
	position: relative;
	width: 100%;
	max-width: 760px;

	img {

		&.img-base {

			height: auto;
			width: 100%; 

		}

		&.img-content {

			position: absolute;
			width: 100%;

			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			

		}

	}

}

.model-name {

	font-size: 34px;
	max-width: 338px;

}


// Common elements

.price-span,
.rkt-disclamer {

	.clearfix;
	font-family: @fontAlt;
	overflow: hidden;
	position: relative;
	z-index: 1;
	margin: @margin 0px;

	.car-link {

		display: block;
		float: left;
		line-height: 1;
		margin-right: 5px;

	}

}

.rkt-disclamer {

	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 12px;

}

.car-link { font-size: 20px; }


.egg-teleport #results .model-image {

	canvas {

		height: auto;
		width: 100%;

	}

}


// TABLET
@media ( max-width: @breakpointTablet ) {

	.rkt-disclamer {

		bottom: -50px;

	}

}

